---
footerheight: 40px
---

/*
 * This CSS file is for layout purposes only. I.e. the actual display of the
 * site. Individual element renders, like links, paragraphs, bold fonts etc.
 * should be done in main.css.
 */

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 10pt;
    color: black;
    margin: 0 auto;
    width: 800px;
    background-image: url('{{ site.baseurl }}/img/backdrop-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-color: black;
    
}

div#wrap {
    min-height: 100%;
}

div#header {
    height: 60px;
}

div.title {
    float: left;
    height: 30px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    line-height: 30px;
    padding: 8px 20px 5px 15px;
    max-width: 270px;
    overflow: hidden;
}

div.navigation {
    float: right;
    height: 30px;
    line-height: 30px;
    width: 450px;
    padding: 5px 20px 5px 20px;
    color: black;
    
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(219,219,219) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(219,219,219) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(219,219,219) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(219,219,219) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(219,219,219) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.00, rgb(255,255,255)),
        color-stop(1.00, rgb(219,219,219))
    );
    
    opacity: 0.95;
}

div#main {
    overflow:auto;
    padding-bottom: {{ page.footerheight }}; 
}  /* must be same height as the footer */

div#main-header {
    height: 195px;
    
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    
    opacity: 0.95;
}

div#main-header .courtesy {
    position: relative;
    top: -40px;
    left: 20px;
    font-size: 7pt;
}

div#main-header .courtesy a {
    color: #5296e7;
    text-decoration: none;
}

div#content {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    z-index: -6;
}

div#footer {
    position: relative;
    margin-top: -{{ page.footerheight }}; /* negative value of footer height */
    height: {{ page.footerheight }};
    clear:both;
    color: black;
    background-color: white;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    background-image: linear-gradient(bottom, rgb(218,219,219) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(218,219,219) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(218,219,219) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,219,219) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(218,219,219) 0%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(218,219,219)),
        color-stop(1, rgb(255,255,255))
    );
}    

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}
