---
footerheight: 40px
---

/**
 * "User" styles.
 */

a {
    color: #5296e7;
}

a:visited {
    color: #5296e7;
}

.bold {
    font-weight: bold;
}

div.navigation a {
    text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
    border: 1px single #d0d0d0;
    border-radius: 10px;
    margin-right: 10px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

div#footer div {
    text-align: center;
    color: gray;
    font-size: 9pt;
    line-height: {{ page.footerheight }};
}

div.post-header {
    width: 30%;
    background-color: #f0f0f0;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #a0a0a0;
    text-align: center;
    box-shadow: 0px 0px 2px #d0d0d0;
    position: relative;
    z-index: 5;
    text-shadow: #ffffff 1px 1px 0px;
}

div.post {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 12px #d0d0d0;
    position: relative;
    z-index: 10;
}

div.post-footer {
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #a0a0a0;
    box-shadow: 0px 0px 2px #d0d0d0;
    position: relative;
    z-index: 5;
    text-shadow: #ffffff 1px 1px 0px;
}

div.post-category {
    margin-left: 10px;
    float: left;
}

div.post-tags {
    float: right;
    margin-right: 10px;
}

div.post-tags span.tag {
    background-color: #5296e7;
    opacity: 0.6;
    color: white;
    padding: 3px 5px 3px 5px;
    font-size: 7pt;
    text-shadow: none;
    border-radius: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
}

h1 {
    margin-top: 0px;
}

table#mc-users {
    width: 100%;
}
table#mc-users tr td:first-child {
    font-weight: bold;
}
table#mc-users tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

table#mc-chatmsgs {
    width: 100%;
}

table#mc-chatmsgs tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

table#mc-chatmsgs tr td:first-child {
    font-weight: bold;
}

table#mc-logins {
    width: 100%;
}
table#mc-logins tr:nth-child(odd) td {
    background-color: #f0f0f0;
}
table#mc-logins tr td:first-child {
    font-weight: bold;
}

pre {
    border: 1px solid #d0d0d0;
    padding: 4px;
    background-color: white;
    overflow: auto;
    max-height: 400px;
}

pre code {
    border: 0px;
    background-color: white;
}

code {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
