---
layout: base
header-title: OH HAI! ^__^
---

{% for post in site.posts %}
    <div class="post-header">
        {{ post.date | date: "%B %d, %Y" }}
        {{ post.date | date: "(a %A)" | downcase }}
    </div>
    <div class="post">
        {{ post.content }}
    </div>
    {% if forloop.last %}
        <div class="post-footer">
    {% else %}
        <div class="post-footer" style="margin-bottom: 40px">
    {% endif %}
            <div class="post-category">
                Category: {{ post.category }}
            </div>
            <div class="post-tags">
                {% for tag in post.tags %}
                   <a href="{{ site.baseurl }}/tags/{{tag}}/index.html"><span class="tag">{{ tag }}</span></a>
                {% endfor %}
            </div>
            <div style="clear:both; margin: 0px; height: 0px">&nbsp</div>
        </div>
{% endfor %}
